/*Los import es porque estamos modularizando los css, 
vinculo sólo un css que ya importa el resto de los css
Siempre debemos ponerlos al inicio 
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;


@import url('normalize.css');*/
@import url('header.css');
@import url('footer.css');
@import url('reset.css');

html{
    font-size: 12px;
}
body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}
   
/*min-height: 100vh;*//*
    /*display: block;
    justify-content: center;
    align-items: center;
    
    width: 90vw;
    margin: auto;


}*/
main{
    width: 90%;
    margin: 0 auto;
    background-color: #ebebeb;
    
}
main section{
    margin-bottom: 10px;
}
main section article{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
}
main section article img{
    width: 100%;
    /*border-bottom: 1px solid #ebebeb;*/
}

.camion{
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    /* top: -10px; */
    flex-wrap: nowrap;
  

}
/*.fa-solid .fa-truck{
    display: block;
    border-radius: 4rem;
    border: solid 1px green;
    padding: 15px;
    
}*/
main section article i{
    display: block;
    font-size: 20px;
    padding: 10px;
    /*width: 2rem;
    position: absolute;
    height: 2rem;*/
    border: solid 1px #39b54a;
    background-color: #FFF;
    border-radius:  50%;
    right: 4rem;
    box-sizing: border-box;
    position: relative;
    color: #39b54a;
    right: 20px;
    top: -20px;
}
/*
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -15px;
    }*/
.divArticle{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.producto{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.precio{
    font-size: 18px;
    display: flex;
    width: 20%;
    /*display: inline-flex;*/
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 50%;
    display: flex;
    /*display: inline-flex;
    */
}
.descripcion{
    font-size: 16px;
    display: none;
}
.prodPrecio, .prodDescripcion{
    width: 100%;
    display: flex;

}
.precio, .descuento, .descripcion
{
    margin: 15px;
}




main h1{
    font-size: 24px;
    color: #666; 
    padding: 5px;
    display: block;
    /*
    margin: 1rem;
    padding: 1rem;
    text-align: center;*/
}

.registro {
    padding: 20px 15px;
    display: block;
}
.ingresar{
    padding: 20px 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.ingresar p{
    height: 30%;
    margin: 15px;
    width: 100%;
}

.texto{
    border: none;
    padding: 2px;
    flex-wrap: wrap;
    color: #666;
    width: 70%;
    border-radius: 5px;
    height: 50px;
   
}
.comprador{
    display: inline;
    margin: 10px;
}
.intereses{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.registro{
    padding: 20px 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registro p{
    height: 30%;
    margin: 15px;
    width: 100%;
}

.check{
    margin:15px;
}
/*
nav {
    display: block;
  }



.article{
    margin: 10px;
    border-top: solid 1px #ebebeb;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: white;
}
main section li{
    background-color: white;

}


.fa-truck:hover::before{
    animation: none;
    transform: scale(1.25) rotate(0deg);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fa-truck:hover::before{
    animation: spin 1s linear infinite;
    transform: scale(-.5) rotate(0deg);
}/*
@keyframes fa-truck {
    0%{
        transform: scale(1.5) rotate(0deg);
    }
    100%{
        transform: scale(1.5) rotate(360deg);
    }
}*//*

.banner{
    width: 90vw;
    display: flex;
    position: relative;
    margin: auto;
   
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}
section article picture{
    width: 90vw;
}
section article picture img{
    /*max-width: 100%;*//*
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 90vw;
    border-bottom: solid 1px #ebebeb;
    padding: 0;
    margin: auto;
}

li{
    list-style-type: none;
    display: inline-grid;
}
/*PENDIENTE POR PORCENTAJES*/
/*PENDIENTE POR PORCENTAJES*/
/*PENDIENTE POR PORCENTAJES*/
/*PENDIENTE POR PORCENTAJES*//*



.registro p{
    margin-bottom: 15px;

}
.ingresar p{
    margin-bottom: 15px;

}
.registro label{
    margin-bottom: 15px;
}
.label{
    margin-bottom: 15px;
   
}
.texto {
    width: 90vw;
    height: 50px;
}
/* 
Cascade Style Sheet
Hoja de estilo en cascada
Es así porque importa el orden en el que pones los elementos

Nivel 1 es etiiqueta
h1
body
Nivel 2 selectores de herencia
body h1
Nivel 3 selectores de atributo
#title
*/

/*Aplico la media query para los diferentes tipos de dispositivos
Preguntar si es buena práctica implementar la orientación
*/

@media screen and (min-width: 361px){
    .html{
        font-size: 16px;
    }
    .burger-menu{
        display: none;        
    }
    header ul {
        display: flex;
        flex-direction: row;

    }
    main section{
       /* display: flex;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;*/
        display: grid;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        grid-template-columns: auto auto;
        row-gap: 15px;
        column-gap: 15px;
    }
    }
    .producto{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    
    main section article{
        /*width: 50%;*/
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        /*text-align: center;
        margin: 5px;*/
        
    }
    .divArticle{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        
    }
    
    main section article img{
        width: 35vw;
        margin: 5px;
        padding: 0;
    }
   
    .precio{
        width: 25%;
        font-size: 1rem;
        display: block;

    }
    .descuento{
        width: 75%;
        font-size: .75rem;
        display: block;
    }
    .descripcion{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
        font-size: .75rem;
    }
    .precio, .descuento, .descripcion {
        margin: 0;
        box-sizing: border-box;
    }
    .prodDescripcion{
        width: 100%;
    }
    .boton{
        background-color: #1259c3;
        width: 40vw;
        border:none;
        color: #ebebeb;
        font-weight: bold;
        height: 50px;
    }
    
    .camion{
        /*display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        position: absolute;
        justify-content: right;*/
        /*
        display:  inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        align-items: flex-end;
        justify-content: right;*/
        display:  inline-flex;
        position: absolute;
        top: -2px;
    }

        
  
    main section article i{
        display: inline-flex;
        right: 4rem;
        box-sizing: border-box;
        position: relative;
        right: 20px;
        top: -20px;
    }

    .search{
        align-items: center;
    }
    .search-form{
        height: 50%;
    }
    
}


@media screen and (min-width: 768px){
    
 
    /*
       header nav{
        display: flex;
    
    }
    main section li{
        width: 25%;
    }*/
    .start{
        flex-wrap: nowrap;
        align-items: center;
    }

    header img{
        width: 30%;
    }
/*
    .search{
        width: 40%;
    }
    .search-form{
        height: 40%;
    }

    .dollar{
        width: 30%;

    }
    main section article{
        width: 25%;
       
        
    }
   
    main section article img{
        width: 20vw;
    }

 
    .camion{
        right: 1px;
    }
    */
 /*
    
    .precio{
        font-size: .7rem;
        width: .5vw;
        align-self: flex-start;

    }
    .descuento{
        font-size: .6rem;
        width: 9vw;
        align-self: flex-end;
    }
    */
}
    
/*
@media screen and (min-width: 1024px){
    992
}
@media(min-width: 460px){
    1200

}*/